@charset "UTF-8";
:root {
  --primary-texst-color: rgba(117, 117, 117, 1);
  --title-texst-color: #212121;
  --accent-color: #2196F3;
  --primary-white-color: #FFFFFF;
  --primary-background-color: #e5e5e5;
  --icon-color: #AFB1B8;
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
}

body.modal-open {
  overflow: hidden;
}

main {
  background-color: var(--primary-white-color);
}

ul {
  padding-inline-start: 0px;
}

li {
  list-style-type: none;
  /* Убираем маркеры */
}

a {
  text-decoration: none;
  /* Убираем подчеркивание у ссылок */
  transition: var(--timing-function);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.site-nav {
  align-items: center;
}

.site-nav .item {
  outline: 1px solid transparent;
}

.header {
  border-bottom: 1px solid #ECECEC;
  background-color: var(--primary-white-color);
}

.header .line {
  height: 0px;
  left: 0px;
  top: 80px;
  border: 1px solid #ECECEC;
}

.site-nav-link {
  display: block;
  color: var(--title-texst-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.site-nav-link:hover, .site-nav-link:focus {
  color: var(--accent-color);
}

.site-nav-link.mail {
  align-items: center;
  font-style: normal;
  color: var(--primary-texst-color);
}

.site-nav-link.mail:hover, .site-nav-link.mail:focus {
  color: var(--accent-color);
}

.site-nav-link.number {
  align-items: center;
  font-style: normal;
  color: var(--primary-text-color);
  fill: var(--title-texst-color);
}

.site-nav-link.number:hover, .site-nav-link.number:focus {
  color: var(--accent-color);
}

.mail-svg {
  fill: currentColor;
}

.number-svg {
  fill: currentColor;
}

.current::after {
  content: '';
  transform: translateY(33px);
  left: 0;
  bottom: 0px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }
  .menu-container.is-open {
    display: block;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 999;
  transform: translateX(-100%);
  transition: transform 500ms li;
}

.mobile-menu.is-open {
  transform: translateX(0);
}

.mobile-menu.content {
  height: 100%;
  background-color: #fff;
  width: 70%;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}

.hero {
  background-color: #2F303A;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid transparent;
}

.container.hero-box {
  text-align: center;
}

.button-one {
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  text-align: center;
  height: 50px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button-one:hover, .button-one:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.footer-form input::placeholder {
  font-weight: 400;
  font-size: 16px;
  color: var(--primary-white-color);
}

.footer-form-paragraph {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  color: var(--primary-white-color);
}

.e-mail {
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  margin-right: 12px;
  width: 450px;
}

.footer-form-button {
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 10px 28px;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

*, ::after, ::before {
  box-sizing: border-box;
}

.footer {
  background: #2F303A;
  height: 603px;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer.logo {
  font-family: Raleway;
  font-style: normal;
}

.footer-list-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-style: 400;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-list-link:hover, .footer-list-link:focus {
  color: var(--accent-color);
}

.footer-list-link.address:hover, .footer-list-link.address:focus {
  color: var(--accent-color);
}

.footer-list-link.address {
  color: var(--primary-white-color);
}

.join {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  text-transform: uppercase;
  color: #FFFFFF;
}

.site-nav-link.number:hover,
.site-nav-link.number:focus {
  color: var(--accent-color);
}

.site-nav-link.number {
  color: #757575;
}

.address-icon {
  align-items: baseline;
  justify-content: flex-start;
}

.svg-icon {
  display: flex;
  justify-content: center;
}

.svg-list-icon {
  width: 20px;
  height: 20px;
}

.svg-list-link {
  height: 44px;
}

.svg-list-item {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  padding: 12px;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: var(--primary-white-color);
}

.svg-list-item:hover, .svg-list-item:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.customers {
  padding-top: 60px;
  padding-bottom: 60px;
}

.section-customers-title {
  margin-bottom: 30px;
  margin-top: 60px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-texst-color);
}

.customers-list-link {
  align-items: center;
  justify-content: center;
  display: inline-flex;
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
}

.customers-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 90px;
  border: 1px solid var(--icon-color);
  fill: #AFB1B8;
  background-color: #fff;
  color: var(--icon-color);
  border-radius: 4px;
}

.customers-list-item:hover, .customers-list-item:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.customers-svg {
  height: 40px;
  fill: currentColor;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1600px) {
  .customers-list {
    margin-left: -30px;
    margin-bottom: -30px;
  }
}

@media screen and (max-width: 1600px) {
  .customers-list-link {
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 767px) {
  .section-images {
    display: none;
  }
}

.section-images-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-texst-color);
  padding-bottom: 50px;
}

.section-images-link {
  position: relative;
}

.position {
  display: block;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
  align-items: center;
  text-transform: uppercase;
  position: absolute;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
}

/* ---------------icons------------------- */
.section-skills__background {
  background-color: #F5F4FA;
}

/* ---------------icons end------------------- */
.section-title {
  color: var(--title-texst-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.feature-list {
  justify-content: space-between;
}

.feature-list .text {
  font-style: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-texst-color);
}

.section-skills {
  background-color: var(--primary-white-color);
}

.section-team {
  background-color: #F5F4FA;
}

.section-team-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-texst-color);
}

.team-list {
  justify-content: space-between;
}

.team-title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--title-texst-color);
  padding-top: 30px;
  padding-bottom: 10px;
}

.team-title-skills {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--primary-texst-color);
  padding-bottom: 30px;
}

.team-title-info {
  background-color: var(--primary-white-color);
  text-align: center;
  align-items: center;
}

.team-list-link {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-icon {
  justify-content: center;
  display: flex;
  padding-bottom: 30px;
}

.team-icon.team {
  --icon-color: currentColor;
}

.svg-list-item.team {
  fill: var(--icon-color);
}

.svg-list-item.team:hover, .svg-list-item.team:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
}

/*================= PORTFOLIO============= */
.force-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-texst-color);
}

.force-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--primary-texst-color);
}

.portfolio-info {
  background-color: var(--primary-white-color);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

img {
  display: block;
}

.flex-element {
  border: 1px solid #eeeeee;
}

.portfolio-list {
  background: #FFFFFF;
  box-sizing: border-box;
}

.portfolio-list:hover, .portfolio-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list:hover .position-portfolio,
.portfolio-list:focus .position-portfolio {
  opacity: 1;
  transform: translateY(0);
}

.portfolio-card {
  position: relative;
  overflow: hidden;
}

.position-portfolio {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  bottom: 0px;
  align-items: center;
  opacity: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.555;
  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);
  transition: var(--timing-function);
  overflow: hidden;
  transform: translateY(100%);
}

/*=================  END PORTFOLIO============= */
.line-button {
  justify-content: center;
}

.button.primary.secondary {
  display: inline-block;
  padding: 6px 22px;
  border-radius: 4px;
  background-color: #f5f4fa;
  color: var(--title-texst-color);
  border: transparent;
  text-align: center;
  border: none;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  transition: var(--timing-function);
}

.button.primary:hover,
.button.primary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 581px;
  background-color: var(--primary-white-color);
  border-radius: 4px;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.close-btn:hover .close-icon,
.close-btn:hover .close-icon {
  fill: var(--accent-color);
}

.close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill: #000000;
  transition: var(--timing-function);
}

/* =========form======== */
.modal-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.form {
  padding: 40px;
}

.form-input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font: inherit;
  padding-left: 42px;
}

.form-input.comment {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font: inherit;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-50px);
}

.form-input:focus, .form-input:hover {
  outline: none;
  border-color: var(--accent-color);
  transition: var(--timing-function);
}

.form-input:hover + .form-svg,
.form-input:focus + .form-svg {
  fill: var(--accent-color);
  transition: var(--timing-function);
}

.button-one.form-button {
  display: block;
}

.form-lable {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
  cursor: pointer;
}

.form-lable.check {
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
}

.conditions {
  text-decoration-skip-ink: none;
  font-size: 12px;
  line-height: 1.71;
  color: var(--accent-color);
  text-decoration: underline;
  display: inline-block;
}

.form-label-checkbox {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 30px;
}

.form-svg {
  position: absolute;
  left: 15px;
  top: 33%;
}

.form-lable-svg {
  position: relative;
  display: block;
}

/* ==========form end========= */
.logo {
  color: var(--title-texst-color);
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.2;
  font-style: normal;
}

.logo-accent {
  color: var(--accent-color);
}

.footer-logo {
  color: var(--primary-white-color);
}

.backdrop {
  position: fixed;
  cursor: not-allowed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 100;
  overflow-y: scroll;
}
/*# sourceMappingURL=main.css.map */