.section-customers-title{
    //margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-texst-color);
}
.customers-list-link{
    align-items: center;
    justify-content: center;
    //display: inline-flex;
   
    box-sizing: border-box;
    border-radius: 4px;
    cursor: pointer;
}

.customers-list-item{
    //display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid var(--icon-color);
    fill: #AFB1B8;
    background-color: #fff;
    color: var(--icon-color);
    border-radius: 4px;

    &:hover,
    &:focus{
        border-color: var(--accent-color);
        color: var(--accent-color);
    }
}

.customers-svg{
    height: 40px;
    fill: currentColor;
    
}

.customers-list{
    display: flex;
    justify-content: space-between;
}

.customers-list .customers-list-link + .customers-list-link{
    //margin-left: 30px;
}

.customers{
    //padding-top: 94px;
    //padding-bottom: 94px;
}

