html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}

*, ::after, ::before {
    box-sizing: border-box;
}

.footer{
    background: #2F303A;

    &.logo{
        font-family: Raleway;
        font-style: normal;  

        
    }
}

.footer-list-address{
    margin-top: 20px;
    margin-right: 10px;
}

.footer-address{
    margin-top: 9px;
}

.footer-list-link{
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-style: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
  
    &:hover,
    &:focus{
        color: var(--accent-color);
    }

    &.address:hover,
    &.address:focus{
        color: var(--accent-color);
    }

    &.address{
        color: var(--primary-white-color);
    }
}

.join{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    font-style: normal;
    text-transform: uppercase;

    color: #FFFFFF;
}

.site-nav-link.number:hover,
.site-nav-link.number:focus{
    color: var(--accent-color);
}

.site-nav-link.number{
    color: #757575;
}

.address-icon{
    align-items: baseline;
    justify-content: flex-start
}

.svg-icon{
    display: flex;
    justify-content: center;
}

.svg-list-icon{
    width: 20px;
    height: 20px;
    
}

.svg-list-link{
    margin-right: 10px;
    width: 44px;
    height: 44px;
}

.svg-list-item{
    align-items: center;
    justify-content: center;
    display: inline-flex;
    padding: 12px;
    
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    fill: var(--primary-white-color);

    &:hover,
    &:focus{
        color: var(--primary-white-color);
        background-color: var(--accent-color);
    }
}

@media screen and (max-width: 767px){
    .footer{
        text-align: center;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .address-box{
        margin-top: 60px;
    }
}

@media screen and (min-width: 768px) {
    .footer{
        text-align: center;
    }
    
    .address-icon{
        display: flex;
        flex-wrap: wrap;
        padding-top: 60px; 
        padding-bottom: 60px;
    }

    .address-icon__contacts{
        margin-left: 76px;
        margin-right: 165px;
    }

    .e-mail{
        display: block;
        margin-bottom: 20px;
    }

    .footer-box{
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1200px) {
    .address-icon {
        display: flex;
        padding-top: 60px; 
        padding-bottom: 60px;
    }

    .footer-box{
        margin-left: auto; 
        margin-right: 0; 
    }

    .footer-form-paragraph{
       text-align: start; 
       margin-top: 0px;
    }

    .address-box{
        flex-direction: column-reverse;
        margin-left: 70px;
        text-align: start;
    }

    .address-icon__contacts{
        text-align: start;
       margin: 0;
    }
    .e-mail{
        width: 358px;
        display: inline-flex;  
    }
}