.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    
    border: none;

    
}





@media screen and (max-width: 767px) {
    
    .contacts{
        margin-top: 60px;
    }
    .contacts__item{
        margin-top: 15px
    }
    .navigation__item:not(:last-child){
        margin-bottom: 40px;

    }
    

        .current::after {
        content: '';
        
        transform: translateY(8px);
        left: 0;
        bottom: 0px;
        display: block;
        
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-color);
        }
}

@media screen and (min-width: 768px) {
    .current::after {
        content: '';
        transform: translateY(33px);
        left: 0;
        bottom: 0px;
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: var(--accent-color);
    }

    .site-nav{
        height: 80px;
        align-items: center;
    }
    button.menu-button{
        display: none;
    }
    .site-nav-list{
        display: flex;
    }
   
    .navigation{
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .navigation__item:not(:last-child){
        margin-right: 50px;
        margin-bottom: 0;

    }
    .contacts{
        margin-top: 21px;
        margin-bottom: 21px;
    }
    .contacts__item:nth-child(-n + 1){
    margin-bottom: 10px;
    }
}

.menu-container{
    

    @media screen and (max-width: 767px) {
        display: none;
        position: absolute;
        text-align: center;
        padding-top: 60px;
        padding-bottom: 60px;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        height: 393px;

        &.is-open {
            display: block;
        }
    }

    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        flex-grow: 1;
    }
}


@media screen and (min-width: 1200px) {
    .site-nav{
        align-items: baseline;
    } 
    
    .site-nav-list-address{
        display: flex;
        margin-left: auto;
    }
    .contacts {
        margin-top: 32px;
        
    }
    
     .contacts__item:nth-child(-n+1) {
    margin-bottom: 0;
    margin-right: 30px;
    } 
}   

.menu-button{
    display: inline-flex;
    margin: 0;
    margin-left :auto;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 15px;
    padding: 0;
    border: none;
    justify-content: center;
    background-color: #fff;
}

.menu-button .icon-cross{
    display: none;
}

.menu-button.is-open .icon-cross{
    display: block;
}

.menu-button.is-open .icon-menu{
    display: none;
}

.site-nav{
    display: flex;
    align-items: center;

    & .item{
        outline: 1px solid transparent;
    }
}

.header{
    position: relative;
    border-bottom: 1px solid #ECECEC;
    background-color: var(--primary-white-color);

    & .line{
        height: 0px;
        left: 0px;
        top: 80px;
        border: 1px solid #ECECEC;
    }
}

.site-nav-link{
    align-items: center;
    display: block;
    color: var(--title-texst-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
    }
    &:hover,
    &:focus{
        color: var(--accent-color);
    }
    
    &.mail{
        display: inline-flex;
        align-items: center;
        font-style: normal;
        color: var(--primary-texst-color);
    }
    
    &.mail:hover,
    &.mail:focus{
        color: var(--accent-color);
    }
    
    &.number{
        display: inline-flex;
        align-items: center;
        font-style: normal;
        color: var(--primary-text-color);
        fill: var(--title-texst-color);
    }
    
    &.number:hover,
    &.number:focus{
        color: var(--accent-color);
    }
}

.contacts__item{
    align-items: center;
}
.mail-svg{
    fill: currentColor;
    margin-right: 10px;
}

.number-svg{
    
    fill: currentColor;
    margin-right: 10px;
}

.current{
    color: var(--accent-color);
}

.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 1.0);
    z-index: 999;

    transform: translateX(-100%);

    transition: transform 500ms li;

    &.is-open {
        transform: translateX(0);
    }

    &.content {
        height: 100%;
        background-color: #fff;
        width: 70%;
    }
} 

.current::after{
    content:'';
    bottom: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 4px;
    width: 61px;
    align-items: center;
    border-radius: 2px;
    background-color: var(--accent-color);
}
