.hero-title{
    color: var(--primary-white-color);
    text-transform: uppercase;

    padding-top: 118px;
    padding-bottom: 30px;

    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;

    @media screen and (min-width: 1200px){
        font-size: 44px;
        line-height: 1.36;
    }
}

.hero{
    background-color: #2F303A;
    background-position: center;
    background-repeat: no-repeat;

    background-image:  linear-gradient(
    rgba(47,48,58,0.4),
    rgba(47,48,58,0.4)
    ),url("../images/hero-2x.jpg");
    background-size:  100% 100%;
    border: 1px solid transparent;
    min-height: 400px;
}

.container.hero-box{
    text-align: center;
}

.button-one{
    display: inline-block;
    padding: 10px 32px;

    margin-bottom: 118px;

    border-radius: 4px;
    text-align: center;
    //min-width: 200px;
    height: 50px;
    //margin-top: 30px; 

    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    &:hover,
    &:focus{
        color: var(--primary-white-color);
        background-color: var(--accent-color);
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
    screen and (min-resolution: 192dpi) and (min-width: 320px),
    screen and (min-resolution: 2dppx) and (min-width: 320px) {
    .hero{
        background-image:  linear-gradient(
        rgba(47,48,58,0.4),
        rgba(47,48,58,0.4)
        ),url("../images/hero-2x.jpg");
        
        background-size:  480px 100%;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero{
    background-image:  linear-gradient(
        rgba(47,48,58,0.4),
        rgba(47,48,58,0.4)
        ),url("../images/hero_tablet-2x.jpg");
        background-size:  768px 100%;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px){
    .hero{
        background-image:  linear-gradient(
        rgba(47,48,58,0.4),
        rgba(47,48,58,0.4)
        ),url("../images/hero_desk-2x.jpg");
        background-size:  1600px 600px;
    }
}

@media screen and (min-width: 1200px) {
    .hero{
        min-height: 600px;
    }
    .hero-title{
        padding-top: 200px;
    }
}

