.force-name{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-texst-color);
}

.force-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--primary-texst-color);
    margin-top: 4px;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-info{
    background-color: var(--primary-white-color);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
}

img{
    display: block;
}

.flex-element{
    width: 450px;
    margin-bottom: 30px;
    border: 1px solid #eeeeee;
}

.flex-element:nth-child(3n){
    margin-right: 0px;
}

.portfolio-list{
    display: flex;
    flex-direction: column;

    background: #FFFFFF; 
    box-sizing: border-box;
    margin-top: 30px;

    &:hover,
    &:focus{
        box-shadow: 
        0px 1px 1px rgba(0, 0, 0, 0.12), 
        0px 4px 4px rgba(0, 0, 0, 0.06), 
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    
    &:nth-child(-n + 3){
        margin-top: 0;
    }

    &:hover .position-portfolio,
    &:focus .position-portfolio{
        opacity: 1; 
        transform: translateY(0);
    }
}

.flex-container:nth-last-child(-n + 3){
    margin-bottom: 0px;
}

.portfolio-card{
    position: relative;
    overflow: hidden;
}

.position-portfolio{
    display: block;
    position: absolute;
    align-content: center;
   
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0px;
    align-items: center;
    opacity: 0;

    padding-left: 23px;
    padding-right: 23px;
    padding-top: 63px;
    padding-bottom: 63px;
    

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.555;
    
    color: var(--primary-white-color);
    background: rgba(33, 150, 243, 0.9);
    transition: var(--timing-function);
    overflow: hidden;
    transform: translateY(100%);
}

.flex-container__img{
    width: 450px;
    height: 294px;
}

.line-button{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
    margin-top: 60px;
}

.line-button__portfolio{  
    margin-right: 8px;
    margin-bottom: 15px;
}

.line-button__portfoli:nth-last-child(-n + 2)  {
    margin-bottom: 0px;
} 

@media screen and (min-width: 768px){
    .flex-element{
        width: 354px;
        margin-bottom: 30px;
    }

    .line-button{
        justify-content: center
    }

    .portfolio-card{
        width: 354px;
    }
}
    
@media screen and (min-width: 1200px){
    .container {
        margin-left: auto;
        margin-right: auto;
        width: 1200px;
        border: none;
    }
    .flex-element{
        width: 370px;
        height: 404px;
        margin-bottom: 30px;
    }
    
    .line-button__list{
        display: flex;
        justify-content: center;
        margin-top: 94px;
        margin-bottom: 50px;
    }
    .portfolio-card{
        width: 370px;
        height: 294px
    }
}