/* ---------------icons------------------- */
.section-skills__background {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px 100px;
    //margin-bottom: 30px;
    background-color: #F5F4FA;

    
}

/* ---------------icons end------------------- */

.section-title{
    color: var(--title-texst-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
}

.feature-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.text{
    padding-top: 10px;
    @media screen and (max-width: 767px){
        height: 50px;  
    }
    
    @media screen and (min-width: 768px){
        height: 75px; 
    }
}


.feature-list .text{
    font-style: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--primary-texst-color);
}


@media screen and (max-width: 767px){
    .item:not(:last-child) {
        margin-bottom: 30px;
    }
}
    
@media screen and (min-width: 768px){
    .item{
        width: 354px;
    }

    .item:nth-child(-n+2){
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 1200px){
    .item{
        width: 270px;
    }
    
    .item:nth-child(n+2){
        margin-left: 30px;
    }

    .container .feature-item .item + .item{
        margin-left: 30;
    }
}

.section-skills{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--primary-white-color);
}