
  



.section-images{
    @media screen and (max-width: 1199px) {
        display: none;   

    }
}


.section-images-title{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--title-texst-color);
    padding-bottom: 50px;
}

.activity-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.image-list .section-images-link + .section-images-link{
    margin-right: 30px;
}

.section-images{
    padding-bottom: 94px;
}

.section-images-link{
    position: relative
}

.position{
    display: block;
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0px;
    bottom: 0px;

    align-items: center;
    text-transform: uppercase;
    position: absolute;
    padding-top: 27px;
    padding-bottom: 27px;

    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--primary-white-color);
    background: rgba(47, 48, 58, 0.8);
}