.backdrop{
    position: fixed;
    cursor: not-allowed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, .5);
    transition: 1000ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 100;

    overflow-y: scroll;
}