@media screen and (min-width: 480px) {
       
}

@media screen and (min-width: 768px) {
   .heder__logo{
       margin: 26px 88px 26px 15px;
   
   }
}




.logo{
    color: var(--title-texst-color);
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px; 
    font-family: Raleway;
    font-size: 26px;
    line-height: 1.2;
    font-style: normal;
}

.logo-accent{
    color: var(--accent-color);
}

.footer-logo{
    color: var(--primary-white-color);
}