.is-hidden{
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.modal{
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    
    background-color: var(--primary-white-color);
    border-radius: 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    animation-duration: 1000ms;
    animation-iteration-count: 1;
    animation-iteration-count: 1;
}

.close-btn{
    position: absolute;
    top: 8px;
    right: 8px;
    bottom: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--primary-white-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    &:hover .close-icon,
    &:hover .close-icon{
        fill: var(--accent-color);
    }
}

.close-icon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    fill: #000000;
    transition: var(--timing-function);
}

/* =========form======== */

.modal-title{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 12px;
}

.form{
    padding: 40px;
}

.form-input{
    width: 100%;
    padding: 12px 16px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;

    //margin: 0;
    font: inherit;

    padding-left: 42px;

    &.comment{
        width: 100%;
        padding: 12px 16px;
        height: 110px;
        margin-top: 4px;
        border: 1px solid rgba(33, 33, 33, 0.2);
        border-radius: 4px;
        resize: none;
    
        //margin: 0;
        font: inherit;
    }

    &:focus + .form-label,
    &:not(:placeholder-shown) + .form-label{
        transform: translateY(-50px);
    }

    &:focus,
    &:hover{
        outline: none;
        border-color: var(--accent-color);
        transition: var(--timing-function);
    }

    &:hover + .form-svg,
    &:focus + .form-svg{
        fill: var(--accent-color);
        transition: var(--timing-function);
    }
}

.button-one.form-button{
    display: block;
    margin: auto;
}

.form-lable {
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    color: #757575;
    margin-left: 5px;
    cursor: pointer;
}

.form-label-checkbox{
    font-weight: normal;
    font-size: 12px;
    line-height: 1.16;
    color: #757575;
}

.conditions{
    text-decoration-skip-ink: none;
    font-size: 12px;
    line-height: 1.71;
    color: var(--accent-color);
    text-decoration: underline;
    display: inline-block;
}

.form-label-checkbox{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

.form-svg{
    position: absolute;
    left: 15px;
    top: 33%;
}

.form-lable-svg{
    position: relative;
    display: block;
    margin-top: 4px;
    margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
    .modal{
        width: 528px;
    }
}
/* ==========form end========= */