
h1,
h2,
h3,
h4,
p,
ul {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
    margin: 0;
}

body.modal-open{
    overflow: hidden;
}

main {
    background-color: var(--primary-white-color);
}

ul {
    padding-inline-start: 0px;
}

li {
    list-style-type: none; /* Убираем маркеры */
}

a { 
    text-decoration: none; /* Убираем подчеркивание у ссылок */
    transition: var(--timing-function);
}